<div class="container my-4">
    <div class="row">
        <h3>VOLONTARIATO</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et similique impedit inventore minus architecto. Error perspiciatis neque numquam tenetur laboriosam quo totam expedita atque, magnam eligendi aspernatur odit aliquam non?</p>
    </div>
    <br>
    <div class="row">
        <h3>DONAZIONI</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ut eaque vel modi laboriosam. Repellat optio, harum adipisci iusto odit natus possimus voluptates quibusdam ea quasi beatae, qui sequi distinctio!</p>
    </div>
</div>
