<div class="container my-4 text-background josefin-slab">
    <div class="row p-3">
        <h3>VOLONTARIATO</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et similique impedit inventore minus architecto. Error perspiciatis neque numquam tenetur laboriosam quo totam expedita atque, magnam eligendi aspernatur odit aliquam non?</p>
    </div>
    <br>
    <div class="row p-3">
        <div class="col">

            <h3>DONAZIONI</h3>
            <div>
                Silvia Chiritescu<br>
                Iban: IT59N0306967684510335846436<br>
                PayPal animalsangels1@gmail.com<br>
                <a href="http://www.teaming.net/lanostraarca-santuarioecentrorecuperoanimaliselvatici">Diventa teamers</a>  e con solo 1€ al mese supporta il nostro santuario e centro recupero animali selvatici!
            </div>
        </div>
    </div>
</div>
