<div class="container p-4">
  <div class="josefin-slab text-container">Per rimanere aggiornato sulle novità del centro visita la pagina <a class="font-weight-bold" href="https://www.facebook.com/Centro-recupero-fauna-selvaticaSantuario-animali-domestici-La-Nostra-Arca-1508233082777387/" target="_blank">facebook</a></div>
</div>
<!-- <script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '{your-app-id}',
      cookie: true,
      xfbml: true,
      version: '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script> -->