
// @import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Indie+Flower|Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

.shadow-into-light{
    font-family: 'Shadows Into Light', serif;
    font-size: 2em;
}

.indie-flower{
    font-family: 'Indie Flower', serif;
    font-size: 2em;
}

.josefin-slab{
    font-family: 'Josefin Slab', serif;
    font-size: 2em;
    
}

.text-container{
    background:  rgba(255, 255, 255, .85);
}