<div class="container mt-4 text-container josefin-slab">
    <div class="row p-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis soluta ut officia voluptatibus reprehenderit impedit porro aperiam, culpa, odio modi recusandae incidunt tenetur cum dignissimos aliquid nemo in a ab.</p>
    </div>
    <div class="row p-3">
        <a href="https://www.facebook.com/Centro-recupero-fauna-selvaticaSantuario-animali-domestici-La-Nostra-Arca-1508233082777387/about/?ref=page_internal">

            <img src="../../../assets/img/Facebook_logo_(square).png" height="30px" alt="">
            <span class="pl-2">Facebook</span>
        </a>
    </div>
</div>
