@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

.josefin-slab{
    font-family: 'Josefin Slab', serif;
    font-size: 1.5rem;
    
}
.text-container{
        background:  rgba(255, 255, 255, .85);
        margin-top: 2rem;
}

